body {
  background-color: #ddd;
  margin: 0;
  font-family: Roboto, 'SansSerif';
}
.ejs-app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}