body {
  background-color: #ddd;
  margin: 0;
  font-family: Roboto, 'SansSerif';
}
.ejs-app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
$headerHeight: 60px;
header {
  position: absolute;
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  z-index: 10;
}
$footerHeight: 84px;
footer {
  position: absolute;
  width: 100%;
  height: $footerHeight;
  bottom: 0;
  display: flex;
  z-index: 10;
}
.ejs-content {
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;
  overflow-y: auto;
  height: 100vh;
}