.home-content {
  padding: 30px 0px;
}
.lesson {
  &-card {
    .lesson-title-native {
      min-height: 60px;
    }
  }
  &-content {
    display: block;
    background-color: #fff;
    margin-top: 30px;
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(33, 33, 33, 0.25);
    overflow: hidden;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  &-body{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
  }
  &-result {
    margin-top: 1.5rem;
    width: 36px;
    height: 36px;
    border: solid 4px $text-gray;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    color: $text-gray;
  }
  &-title {
    flex: 1;
    &-native {
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
    }
    &-trans {
      font-size: 16px;
      line-height: 24px;
      min-height: 48px;
    }
  }
}