footer {
  margin-top: 20px;
  background-color: $text-red;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  a {
    color: white;
  }
}
.header-content {
  padding: 20px;
}