header {
  background-color: $text-red;
  color: #fff;
  font-size: 20px;
  border-bottom: solid 1px #ddd;
  a {
    color: white;
    &:hover {
      color: $text-red;
      background-color: $bg-red;
    }
    &.nav-link{
      padding: 0;
      line-height: 60px;
      min-width: 150px;
      text-align: center;
      &.active {
        color: $text-red;
        background-color: #f2dede;
      }
    }
  }
}
.header-content {
  padding: 20px;
}